
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Add a Dose</h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Done", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


